.infiniteScrollContainer {
  position: relative;
  border: solid 3px black;
  margin: auto;
  overflow: hidden;
  height: 150px;
  width: 1000px;

  > div {
    position: absolute;
    text-wrap: nowrap;
    height: 150px;
  }
}
