.infiniteScrollContainer {
  position: relative;
  height: 150px;
  border: solid 3px black;
  margin: auto;
  overflow: hidden;

  > div {
    position: absolute;
    height: 150px;
    text-wrap: nowrap;
  }
}
